$colors : (
    clr-Strong-cyan : hsl(185, 41%, 84%),
    clr-dark-cyan : hsl(172 66.96% 45.1%),
    clr-Very-dark-cyan :hsl(183, 100%, 15%),
    clr-strong-dark-cyan :hsla(172, 67%, 45%, 0.278),
    clr-Dark-grayish-cyan : hsl(186, 14%, 43%),
    clr-Grayish-cyan : hsl(184, 14%, 56%),
    clr-Light-grayish-cyan : hsl(186, 14%, 43%),
    clr-Very-light-grayish-cyan : hsl(186, 14%, 97%),
    clr-White : hsl(0, 0%, 100%),
);