@font-face {
  font-family: "Space Mono";
  font-weight: 400;
  font-display: swap;
  src: url("../../public/font/SpaceMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  font-display: swap;
  src: url("../../public/font/SpaceMono-Bold.ttf") format("truetype");
}
